<div class="max-w-7xl mx-auto">
    <div>
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex" aria-label="Tabs">
            <%= link_to 'День', daily_path(station_id: params[:station_id]), class: "#{period=='daily' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'} w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
            <%= link_to 'Неделя', weekly_path(station_id: params[:station_id]), class: "#{period=='weekly' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'} w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
            <%= link_to 'Месяц', monthly_path(station_id: params[:station_id]), class: "#{period=='monthly' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'} w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
            <%= link_to 'Год', yearly_path(station_id: params[:station_id]), class: "#{period=='yearly' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'} w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
            </nav>
        </div>
    </div>
</div>