<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="max-w-none mx-auto">
            <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
                <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                    <h3 class="px-3 text-lg leading-6 font-bold text-gray-900">
                    Показания на текущий момент (<%= Time.now.strftime("%d/%m/%Y %H:%M") %>)
                    </h3>
                    <div class="p-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                        <!--Card 1-->
                        <div class="rounded overflow-hidden shadow-lg">
                        <div class="px-6 py-4">
                            <div class="text-lg mb-2">Метеоданные и пыль</div>
                            <p class="text-gray-700 text-base">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
                            </p>
                        </div>
                        </div>
                        <!--Card 2-->
                        <div class="rounded overflow-hidden shadow-lg">
                        <div class="px-6 py-4">
                            <div class="text-lg mb-2">Химические вещества</div>
                            <p class="text-gray-700 text-base">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
                            </p>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
